:root {
	--main-bg-color: #333f58;
	--tdy-passed-color: #ee8695;
	--tdy-today-color: #fbbbad;
	--tdy-future-color: #4a7a96;
}

body {
	background-color: var(--main-bg-color);
	height: 100vh;
	margin: 0;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.container-content {
	height: 100%;
	display:  flex;
	flex-direction: column;
	margin-top: -100px;
	justify-content: center;
	align-items: center;
}

.logo {
	margin-left: 15px;
}

.logo-dot {
	font-size: 40pt;
	color: var(--tdy-passed-color);
}
.logo-text {
	font-size: 40pt;
	color: var(--tdy-today-color);
}

.row {
	display: flex;
}

.tdy-square-container {
	display: inline-block;
}

.tdy-square {
	width: 50px;
	height: 50px;
	margin: 5px;
	border-radius: 10px;
	background-color: var(--tdy-future-color);
}

.centered {
	justify-content: center;
}

.today {
	background-color: var(--tdy-today-color);
	border: 5px solid var(--main-bg-color);
	border-radius: 15px;
	width: 40px;
	height: 40px;
}

.passed {
	background-color: var(--tdy-passed-color);
}

@media screen and (max-width: 480px) {
	.tdy-square {
		width: 40px;
		height: 40px;
		margin: 4px;
	}

	.today {
		border-radius: 12px;
		width: 30px;
		height: 30px;
	}
}
